
<%- include('../../partials/header.ejs')  %> 

<%- include('../../partials/navbar.ejs')  %> 

<main>
    <div class="container">

        <div class="card mt-2">
            <div class="card-header">
                <h2>Editar categoria</h2>
            </div>
            <div class="card-body">
                <form method="post" class="mt-2">
                    <input value="<%= categorias.title %> " class="form-control" name="title" placeholder="Defina o titulo da categoria">
                    <button class="btn btn-success mt-3 float-right" >Atualizar</button>
                </form>
            </div>
        </div>

    </div>
</main>

<%- include('../../partials/footer.ejs')  %> 