<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Blog
    </a>
    <div>
    <a class="btn btn-navbar text-light" href="/admin/categories/new">Nova categoria</a>
    <a class="btn btn-navbar text-light" href="/admin/categories">Lista de categorias</a>
</div>
</nav>