<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Blog
    </a>

    <div class="dropdown">
        <button class="btn  dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorias
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/admin/categories/new">Nova categoria</a>
            <a class="dropdown-item"  href="/admin/categories">Lista de categorias</a>
        </div>
    </div>
    <div class="dropdown mr-auto">
      <button class="btn  dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Artigos
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/admin/articles/new">Novo artigo</a>
          <a class="dropdown-item"  href="/admin/articles/">Lista de artigos</a>
      </div>
  </div>
</nav>